# node_modules
node_modules

# Log File
*.log

# Mac
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.sln
*.sw?
*.njsproj

# Local env files
.env.local
.env.*.local

# build
/dist